snippet !shebang "#!/usr/bin/env python3..."
#!/usr/bin/env python3
# -*- coding: utf-8 -*-
endsnippet

snippet numpydoc "Numpydoc style documentation string"
"""${1:TODO: Short description}

Parameters
----------
${2}

Returns
-------
${0}
"""
endsnippet
