snippet !shebang "#!/usr/bin/env python3..."
#!/usr/bin/env python3
# -*- coding: utf-8 -*-
endsnippet

snippet numpydoc "Numpydoc style documentation string"
"""
#{TODO: Short description}

Parameters
----------
#{1}

Returns
-------
#{0}
"""
endsnippet
