snippet frc "fraction"
\frac{$1}{$2}$0
endsnippet

snippet doca "\documentclass{article}" b
\documentclass{article}
endsnippet

snippet docmath "Math document" b
\documentclass{article}
\usepackage{amsmath}
\usepackage{amssymb}

\begin{document}

\title{$1}
\author{$2}
\maketitle

$0

\end{document}
endsnippet

snippet nutem "item...enum..." b
\item \begin{enumerate}
	\item $0
\end{enumerate}
endsnippet

snippet end "\end{...}" b
\end{$1}$0
endsnippet
