! ------------------------------------------------------------------------------
! URxvt
! ------------------------------------------------------------------------------

! ----
! Font
! ----

URxvt.font: xft:inconsolata:size=14
