[user]
  name = Ben Moon
  email = software@guiltydolphin.com
[core]
  editor = vim
  autocrlf = input
  safecrlf = true
  askPass = git-cat-token
[log]
  date = iso
[merge]
  tool = vimdiff
[gc]
  pruneexpire = never
  reflogexpire = never
  reflogexpireunreachable = never
[alias]
  br = branch
  cb = checkout -b
  ci = commit
  cia = commit --amend
  cian = commit --amend --no-edit
  cim = commit -m
  co = checkout
  d = diff
  dfs = diff --staged
  dump = cat-file -p
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  last = log -1 HEAD
  list-ignored = ls-files -coi --exclude-standard
  qlog = log --pretty=oneline
  ri = rebase -i
  st = status
  swords = diff --staged --word-diff
  type = cat-file -t
  unstage = reset HEAD --
  words = diff --word-diff
